html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.calculator {
    border: 2px solid darkgray;
    padding: 5px;
}